.road-map-section{
    background-color: #08060a;
}


.road-map-header h1{
    font-family: 'TT Norms', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #FFFFFF;
}

.map{
    font-weight: 700;
}

.road-map-main{
    display: flex;
    justify-content: space-around;
    /* padding-top: 7rem; */
    padding: 7rem 6rem;
}
.road-header{
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.road-header h1{
    font-family: 'TT Norms', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 25px;
    letter-spacing: -0.1em;
    color: #6D4CD5;
}


@media(max-width:1050px){
    .road-map-main{
        flex-direction: column;
    }

}

@media(max-width:700px){
    .road-header{
        padding-top:3rem;
    }
    .road-map-main{
        padding-top: 2rem;
    }
}