.gsp__herosection{
    display: flex;
    background-color: #111111;
    padding-top: 3rem;
    padding-bottom:13rem;
    height:1014px;
    position: relative;
    
}

.hero-left-side-img{
    position: absolute;
    left: 0;
    z-index: 0;
}
.gsp__hero-left-side{
    /* background: url('../../images/left-circle-bg.png');
    background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width:30%;
    position: relative;
    z-index: 1000;

}

.gsp__left-side-content h1{
    font-family: 'TT Norms', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: -0.1em;
    color: #FFFFFF;
    padding-bottom: 2rem;
    position: relative;
    z-index: 1000;
}
.gsp__left-side-content p{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 28px;
    color: #FFFFFF;
    padding-bottom: 2rem;
    position: relative;
    z-index: 1000;
}
.gsp__left-side-content{
    padding:10rem 0;
}
.hero-button{
    position: relative;
    z-index: 100000;
}

.gsp__hero-btn{
    background: linear-gradient(99.85deg, #1F2D65 12.22%, rgba(40, 161, 213, 0.56) 35.08%, rgba(172, 111, 247, 0.9) 91.54%);
    
    border-radius: 25px;
    border: 2px solid #fff;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.16em;
    color: #FFFFFF;
    width: 200px;
    height: 75px;
    transition: all ease-in-out 1s;
    cursor: pointer;
    z-index:10000;
}

.gsp__hero-btn:hover{
    box-shadow: 2px 3px 32px 20px rgba(172, 111, 247, 0.9) ;
     transform: scale(1);
}
.hero-get{
    font-weight: 500;
}
.hero-set{
    font-weight: 600;
}

.hero-play{
    font-weight: 800;
}
.gsp__hero-right-side{
    width:70%;
    position: relative;
    /* background:radial-gradient(circle at 55% 76%, rgba(9, 14, 43, 1) 0%, rgba(18, 18, 23, 1) 50%, rgba(24, 24, 113, 1) 100%); */
}
.gsp__hero-icons{
    width: 5%;
    display: flex;
    justify-content: center;
    position: fixed;
    right:0;
    z-index: 1000;
}
.controller-img{
    width: 100%;
    height:100%;
    object-fit: cover;
    position:relative;
    z-index:1000;

}
.gsp__hero-right-side:after{
    content:'';
    background: radial-gradient(circle, rgb(16 17 88) 2%, rgba(8,6,10,1) 62%);
    width: 80%;
    height: 1002px;
    position: absolute;
    left: 20%;
    filter: blur(215px);
    /* overflow: overlay; */
    padding-bottom: 6rem;
    top: 214px;
}

.gsp__hero-icon-link li{
    list-style-type: none;
    padding-top: 10px;

}

.gsp__hero-icon-link svg{
    color:#F3F6FF33;
    width:31px;
    height:31px;
    padding-top: 1px;
    transition: ease-in-out 1s;
}

.gsp__hero-icon-link svg:hover{
    color:#fff;
    transform: scale(1.1);
}

.instagram-icon{
    width:31px;
    height:31px;
}
.spin-img:hover{
    animation: shake 5s ;

}

@keyframes shake {
	30% {
		transform: rotate(20deg);
	}
	60% {
		transform: rotate(-40deg);
	}
}

@media(max-width:1500px){
    .gsp__herosection{
        height:770px;
        padding-bottom:6rem;
    }
    .gsp__left-side-content{
        padding-left:5rem;
    }
    .gsp__hero-left-side{
        width:35%;
    }
    .gsp__hero-right-side{
        width:65%;
    }
    .hero-left-side-img{
        width:80%;
    }
}
@media (max-width:1150px){
    .gsp__herosection{
        flex-direction: column;
        height: 1020px;
    }
    .gsp__hero-icon-link ul{
        display: flex;   
    }
    .gsp__hero-icons{
        width:100%;
    }
    .gsp__hero-icon-link li{
        padding: 15px;
    
    }
    .gsp__hero-right-side{
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
    }
    .gsp__hero-left-side{
        width:100%;
    }
    .gsp__left-side-content{
        padding:5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .controller-img{
        width: 80%;
        height:80%;

    
    }
    .gsp__left-side-content p{
        font-size: 18px;
    }
    .hero-left-side-img{
        display: none;
    }
    .gsp__hero-icons{
        display:none;
    }
    .hero-button{
        display: flex;
        justify-content: center;
    }



}


@media (max-width:550px){
    .gsp__herosection{
        padding-bottom: 0rem;
        height:770px;
    }
    .gsp__left-side-content{
        padding:0;
    }

    .gsp__hero-icons{
        display: none;
    }
    .gsp__left-side-content h1{
        font-size: 50px;
        line-height: 70px;

    }
    .gsp__left-side-content p{
        font-size: 11px;
        line-height: 20px;

    }
    .gsp__hero-btn{
        height: 60px;
    }
}
