.info-card{
    width : 373.72px;
    height :434.97px;
    padding:1rem;
    border: 5px solid rgba(170, 110, 247, 0.44);
    box-sizing: border-box;
    border-radius: 50px;
    margin-right:4rem;
    cursor: pointer;
    transition: ease-in-out 1s;
    }

.info-card:hover{
    box-shadow: 2px 3px 32px 20px  rgba(38, 29, 160, 0.9) ;
    border: 5px solid #29afe2;


}





.info-text h1{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 1.5rem 0;
    }

.info-text p{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    color: #FFFFFF;
}

.info-image-part{


    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    
    height:140px;


}
/* .info-image-part img{
     width:83px;
    height:83px; 
} */

@media(max-width:1050px){
    .info-card-top{
        flex-wrap: wrap;
    }
    .info-card-bottom{
        flex-wrap: wrap;
    }
    .info-section{
        padding-top:3rem;
        padding-bottom:8rem;
    }
    .info-card{
        margin-right: 2rem;
        margin-top: 2rem;
    }
}