.pte-card{
    background-image: url('../../images/pte-card-bg.png');
    background-repeat: no-repeat;
    width:424px;
    height: 540px;
    padding-left: 1rem;
}

.pte-card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
}

.pte-card-text p{
    font-family: 'TT Norms', 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #FFFFFF;

}