.pte-card{
    background-image: url('../../images/pte-card-bg.png');
    background-repeat: no-repeat;
    width:424px;
    height: 540px;
    
    margin-left: 5rem;
}

.pte-card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
}
.pte-card-img img{
    object-fit: cover;
}

.pte-card-img img:nth-child(3){
    width: 500px;
    height: 480px;
    margin-top: 4rem;
}

.pte-card-img img:nth-last-child(){
    width: 514px;
    margin-top: 2rem;
}

.pte-card-text p{
    font-family: 'TT Norms', 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    text-transform: uppercase;

}