.gsp__aboutsection{
    /* display: flex; */
    background-color: #111111;
    position:relative;
}

.right-img{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: -14%;
    right: 0;
}

.left-img{
    position: relative;
}
.left-img img{
    position: relative;
    z-index: 1000;
}
.left-img::after{
    content: '';
    position: absolute;
    top: -51px;
    left: 0;
    width: 67%;
    height: 100%;
    background: linear-gradient(90deg, rgba(60,25,96,1) 18%, #111111 78%);
    filter: blur(114px);

}
.about-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 371px;
    height:245px;
    border-radius: 117px;
    /* background:radial-gradient(circle at 50% 6%, rgba(188, 114, 207, 1) 0%, rgba(135, 77, 167, 1) 91%, rgba(163, 102, 190, 1) 100%); */
}

.about-text-section{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}
.about-header:after{
    content: '';
    position: absolute;
    background: radial-gradient(circle, rgba(60,25,96,1) 25%, #111111 63%);
    top: -78px;
    width: 74%;
    height: 307px;
    filter: blur(118px);

}
.about-header h1{
    font-family: 'TT Norms', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    z-index: 10000;
   
}

.about-cards{
    display: flex;
    padding:2rem;
    justify-content: center;
}

.getsetplay{
    font-weight: 700;
}


@media(max-width:1050px){
    .about-cards{
        flex-direction: column;
        align-items: center;
    }
}