
.about-card{
    width:590px;
    height: 500px;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.blur-part{
    background:radial-gradient(ellipse at 50% 6%, rgba(208, 173, 217, 1) 0%, rgba(90, 79, 130, 1) 47%, rgba(0, 0, 0, 1) 100%);
    filter: blur(27px);
    width: 376px;
    height: 64px;

}
.card-text{
    width:94%;
    padding-left: 4rem;
}
.card-text h1{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    /* padding: 1.5rem 0; */
}
.card-text p{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
     color: #E7E9FF;
}
.image-part{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease-in-out 1s;
}
.image-part:hover{
    transform: scale(1.1);
}

.image-part img{
    width: 300px;
    height:300px;
}


.rotate{
  animation: rotation 4s ease-in-out infinite;
}
.rotate-inverse{
    animation: rotation-inverse 4s ease-in-out infinite
}

@keyframes rotation-inverse{
    0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(-20px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(0px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(-20px);
	}
  }

@keyframes rotation{
    0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-20px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
  }

@media(max-width:590px){
    .about-card{
        width:100%;
    }
}
  @media(max-width:500px){
      .about-card{
          width:100%;
      }
      .blur-part{
          width:260px;
      }
      .card-text{
             width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
      }
  }