
.road-map-card{
    display: flex;
}
.road-map-card-list{
    padding-top: 1rem;
    color:#fff;
}

.road-map-card-list p{
    font-family: 'Blinker', 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

@media(max-width:700px){
    .road-map-card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}