.gsp__navbar{
    /* background:linear-gradient(90deg, rgba(43, 9, 38, 1) 0%, rgba(23, 18, 23, 1) 50%, rgba(46, 17, 44, 1) 100%); */
    padding: 1.5rem 2rem;
    background-color: #111111;
}


.gsp__navbar-container{
    display: flex;
    justify-content: space-between;
    
}

.gsp__nav-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:50%;
}
.gsp__logo{
    width:50%
}

.gsp__nav-links p{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0 2rem;
    text-transform: uppercase;
    

    width:18%;
    display: flex;
    justify-content: center;
    align-items:center;
    transition: ease-in-out 0.3s;
}

.gsp__nav-links p:hover{
    text-shadow: 8px 2px 5px rgba(207,207,207,0.85);
    background: transparent;
    transform: scale(1);

}
.nav-explore{
    background: linear-gradient(99.85deg, #1F2D65 12.22%, rgba(40, 161, 213, 0.56) 35.08%, rgba(172, 111, 247, 0.9) 91.54%);
    
    border-radius: 25px;
    border: 2px solid #fff;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.16em;
    color: #FFFFFF;
    width: 215px;
    height: 60px;
    transition: all ease-in-out 1s;
    cursor: pointer;
}
.nav-explore:hover{
    box-shadow: 2px 3px 32px 20px rgba(172, 111, 247, 0.9) ;
     transform: scale(1);
}

.gsp__logo img{
    width: 390px;
    height:85px;
}
.gsp__nav-links a{
    text-decoration: none;
    color: #FFFFFF;
}
.gsp__navbar-menu{
    margin-left: 1rem;
    display: none;
    position: relative;
}

.gsp__menu-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: center;
    /* background:linear-gradient(90deg, rgba(43, 9, 38, 1) 0%, rgba(23, 18, 23, 1) 50%, rgba(46, 17, 44, 1) 100%); */
    background-color: #141313ba;
    padding: 2rem 0;
    position: absolute;
    top:40px;
    right:0;
    margin-top: 1rem;
    /* min-width: 210px; */
    width: 150px;
    border-radius: 5px;
    z-index:10000;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);
}

.gsp__menu-container p{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 1.5rem;
}
.gsp__menu-container a{
    text-decoration: none;
    color:#fff;
}


@media(max-width:1400px){
    .gsp__nav-links{
        width:100%
    }
    .gsp__nav-links p{
        padding:0;
        font-size:18px;
    }
}

@media (max-width:1050px){
    .gsp__nav-links{
        display: none;
    }
    .gsp__navbar-menu{
        display: flex;
        align-items: center;
    }
}

@media (max-width:700px){
    .gsp__navbar{
        padding: 2rem 4rem;
    }
    .gsp__logo img{
        width:200px;
        height:80px;
    }
}
