body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face{
  font-family: 'TT Norms';
  src: url('./font/TTNorms-Medium.otf')

}

@font-face{
  font-family: 'TT Norms Bold';
  src: url('./font/TTNorms-Bold.otf')

}

