.token-section{
    /* background-color: #111111; */
    /* background:radial-gradient(circle at 50% 6%, rgba(131, 83, 143, 1) 0%, rgba(119, 104, 147, 1) 41%, rgba(3, 2, 3, 1) 100%); */
    /* background-image: url('../../images/Token-bg.png'), linear-gradient(#111111,#111111); */
    background: radial-gradient(circle, rgba(60,25,96,1) 0%, rgb(16 15 20) 49%);
    background-position: center;
    background-size: cover;
    padding: 2rem 0;
    height: 985px;
    position: relative;
}


.token-header{
    padding-bottom:2rem;
}

.token-header h1{
    font-family: 'TT Norms', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.05em;
    color: #FFFFFF;
}

.token-text-content{
    padding: 2rem 6rem;
}

.token-text-content h1{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.token-container{
    display: flex;
    position: relative;

}
.token-text{
    width:41%;
    padding:2rem;
}

.token-text-content p{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #E7E9FF;
    }

    .token-img img{
        width: 475px;
        height: 450px;
        position: relative;
        z-index: 1000;
        object-fit: cover;

    }
.token-img{
    padding-left: 14rem;
    display: flex;
    align-items: center;
}

.token-bg-img{
    position: absolute;
    position: absolute;
    top: 37px;
    height: 843px;
    width: 100%;
}


@media(max-width: 1000px){
    .token-text-content{
        padding: 2rem 2rem;
    }

}

@media(max-width: 920px){
    .token-text{
        width:80%;
    }
    .token-section{
        height:100%;
    }
    .token-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .token-text-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:500px){
    .token-img img{
        width: 300px;
        height: 300px;


    }
    .token-text{
        width:100%;
    }
}